
/*cuerpo*/
*{
    margin: 0;
    padding: 0;
}
.fa{
    color: black;
}
#clear{
    clear: both;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    font-family: sans-serif;
    color: whitesmoke;
    background-color: #131212; 
    transition: 1s;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
body{
    display: block;
    text-align: center;
}

/*-----barra de navegación-----*/
header{
   
    align-items: center;
    display: flex;
    height: 75px;
    justify-content: space-between;
    background-color: black;
    padding: 10px;

}

.logo{
    display: flex;
    align-items: center;
}


.logo img{
    height: 50px;
    margin-right: 10px;
}
nav li a:hover{
    color: yellow;

}
#navega{
    margin: auto;
    width: 500px;
}
ul{
    list-style: none;

}
.nav li a{
    background-color: black;
    color:whitesmoke;
    padding: 10px 15px;
    display:block;
}
.nav li ul li a{
    background-color: #292828;
    
}
.nav li ul li a:hover{
    background-color: black;
    padding: 20px;
   
}

.nav > li{
    float: left;
}
.nav li ul{
    display:none;
    position: absolute;
    min-width: 140px;

}
.nav li:hover > ul{
    display: block;
}
/*------tablas--------*/
#photo{
    width: 150px;
    height: 150px;
    background-image: url(/image/IMG_8815.jpg);
    background-size: cover;
    border-radius: 50%;
    border: #131212;
    margin: 0 auto;
}
table{
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 18px;
    margin-top: 40px;
}
#datos{
    width: 30%;
	height: 100px;
}
#datos{
    background-color: white;
    color: black;
    border-radius: 12px ;
    
}
#datos tbody{
    text-align: left;
}
#datos thead{
    font-size: 18pt;
    
}
#datos td{
    padding: 5px;
}





#problem{
    width: 50%;
	height: 500px;
}
.title{
    padding: 9px;
    font-size: 15pt;
    font-weight: bold;

}
.p{
    text-align: justify;
    padding: 5px;
}
.problem{
    text-align: left;
}
#problem {
    
    border: 1px solid ;
}
#problem th{
    border: solid 1px white;
}
#problem td{
    border: solid 1px white;
}